ul {
  background-color: inherit;
}
li {
  color: orange;
}
#site-header {
  color: white;
  background-color: darkgrey;
}
.tomatobg {
  background-color: tomato;
  color: white;
  padding: 10px;
}
.cards {
  color: pink;
  font-size: 24px;
}
.card {
  color: inherit;
  font-size: inherit;
  max-width: 150px;
  margin: auto;
}
.icon {
  background-color: lightgrey;
  font-size: 64px;
}
.icon:hover {
  background-color: rgba(169, 169, 169, 0.5);
}
.msg {
  background-color: darkgrey;
  color: white;
  font-size: 24px;
  padding: 20px;
}
