// This file compiled using '$ lessc styling-2.less > styling-2.css'
// styling-2.css is referenced by the HTML

// Styling variables
@box-width: 250px;

.fade-title {
    text-align: center;
    transform: translateY(-50px);
    
    @media only screen and (max-width: 5*@box-width) {
         opacity: 0;
    }
}

// Use CSS box-shadow effects
.mycard(@horizontalOffset: 0, @verticalOffset: 0, @blur: 10px, @color: #000, @opacity: 0.8, @spread: 0, @inset: false ) {
    @red: red(@color);
    @green: green(@color);
    @blue: blue(@color);

    & when (@inset = true) {
        -webkit-box-shadow: inset @horizontalOffset @verticalOffset @blur
            @spread rgba(@red, @green, @blue, @opacity);
        -moz-box-shadow: inset @horizontalOffset @verticalOffset @blur @spread
            rgba(@red, @green, @blue, @opacity);
        box-shadow: inset @horizontalOffset @verticalOffset @blur @spread
            rgba(@red, @green, @blue, @opacity);
    }

    & when (@inset = false) {
        -webkit-box-shadow: @horizontalOffset @verticalOffset @blur @spread
            rgba(@red, @green, @blue, @opacity);
        -moz-box-shadow: @horizontalOffset @verticalOffset @blur @spread
            rgba(@red, @green, @blue, @opacity);
        box-shadow: @horizontalOffset @verticalOffset @blur @spread
            rgba(@red, @green, @blue, @opacity);
    }
}

.card-area {
    background-color: darkgrey;
    margin: 5% auto auto auto;
    width: 80vw;
    height: 80vh;
    justify-content: center;

    // Fix hgt to correct disappearing top rows when scrolling  
    @media only screen and (max-width: 2*@box-width) {
        height: 700px;
        // background-color: lightgrey;
    }
    @media only screen and (max-height: 3*@box-width) {
        height: 700px;
    }
}

.card-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, @box-width); 
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.one-card {
    box-sizing: border-box;
    background-color: #ddd;
    text-align: center;
    justify-content: center; 
    line-height: 50px;

    &.my-card3 { 
        .mycard(@horizontalOffset: 3px, @verticalOffset: 7px);
    }
}
