.fade-title {
  text-align: center;
  transform: translateY(-50px);
}
@media only screen and (max-width: 1250px) {
  .fade-title {
    opacity: 0;
  }
}
.card-area {
  background-color: darkgrey;
  margin: 5% auto auto auto;
  width: 80vw;
  height: 80vh;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .card-area {
    height: 700px;
  }
}
@media only screen and (max-height: 750px) {
  .card-area {
    height: 700px;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}
.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.one-card {
  box-sizing: border-box;
  background-color: #ddd;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}
.one-card.my-card3 {
  -webkit-box-shadow: 3px 7px 10px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 7px 10px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 3px 7px 10px 0 rgba(0, 0, 0, 0.8);
}
